.window-peak{
    min-height: 500px;
    background-image: url("https://vistapointe.net/images/travel-wallpaper-16.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
